@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Viga:regular);
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(213, 180, 140);
}

.logo{
    color:red;
    font-weight: bold;
    font-size:50px;
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}

.class{
    /* box-shadow: 8px 8px 8px #f5f3f3,-8px -8px 8px #f9f8f8; x , y , spread;  */
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: rgb(255, 254, 254);
    border-radius: 30px;
    background-size: cover;
    background-position: center; 
    animation: animatebg 4s linear infinite ;
    
}
@keyframes animatebg{
    100%{
        filter: hue-rotate(1120deg);
    }

    }


ul {
    list-style: none;
    display: flex;
}

ul li{
    margin-right: 15px;
    margin-top: 20px;
}

ul li a{
    color:rgb(4, 3, 3);
    text-decoration: none;
    font-weight: bold;
    font-family:poppins;
    font-size: 15px;
}

.search{
    margin-right: 20px;
    margin-top: 15px;
}

.search input[type=text]{
    border-radius: 40px;
    font-size: 25px;
    width: 200px;
    height:25px;
    border:4px solid rgb(110, 62, 1);

}

.search input[type=submit]{
    font-size: 15px;
    width: 80px;
    height:35px;
    border-radius: 30px;
    border: transparent;
    background-color: aqua;

}
.image img{
    height:170px;
    width:auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }

.main{
    background-image: url(../images/romantic-valentine-s-day-dinner-setup-rose-petals-romantic-valentine-s-day-dinner-red-decoration-rose-petals-violin-134211130.jpg);
    margin-top: 20px;
    max-width: 200px;
    max-height: 400px;
    padding: 0px 15px 15px 15px;/*top&bottom , ri &lf*/
    display: flex;
    border-radius: 20px;
    margin-left: 10px;
    flex-direction:column;
    align-items: center;
    /* border: 2px solid red; */
    /* box-shadow: 8px 8px 8px #eeaaaa,-8px -8px 8px #faf6f6; x , y , spread */
}


.chandan{
    background-image:url(../images/romantic-valentine-s-day-dinner-setup-rose-petals-romantic-valentine-s-day-dinner-red-decoration-rose-petals-violin-134211130.jpg);
    margin-top: 20px;
    max-width: 280px;
    padding: 0px 15px 15px 15px;/*top&bottom , ri &lf*/
    display: flex;
    border-radius: 20px;
    margin-left: 50px;
    flex-direction:column;
    align-items: center;
    /* border: 2px solid red; */
    /* box-shadow: 8px 8px 8px #eeaaaa,-8px -8px 8px #faf6f6; */
}


.name{
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
} 

.phone{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;/*it wraps the overflowing elements,only works in  desplay : flex*/
}

.contane{
    font-size: 15px;
    font-family: poppins;
    margin-top: 15px;
    text-align: center;overflow: hidden;
}

    /* .mouse{
        display: flex;
    } */


    .keyboard{
        /* border-radius: 100px;
        margin: 20px;
        box-shadow: 15px 15px 15px #dbb9b9,-15px -15px 15px #f55959; */
    }

.english{
    justify-content:left;
    align-items:center;
    min-height:80px;
    flex-direction: column;
    margin-left:180px;
    margin-top: 40px;
    justify-content: space-between;
}
.footer a{
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 0;
        color: rgb(2, 51, 51);
        font-size: 24px;
        text-decoration: none;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        
}
a:nth-child(1)
{
    filter:hue-rotate(290deg);
}
a:nth-child(3)
{
    filter:hue-rotate(110deg);
}
    
     .english a:hover
    {
        background:rgb(2, 2, 246);
        color: white;
        box-shadow: 0 0 5px blue;
        box-shadow: 0 0 25px blue;
        box-shadow: 0 0 50px blue;
        box-shadow: 0 0 200px blue;
    }
    
    a span
    {
        position: absolute;
        display: block;
    }
    
    a span:nth-child(1)
    {
        top:0;
        left:-100%;
        width:100%;
        height:6px;
        background: linear-gradient(90deg,transparent,rgb(252, 2, 2));
        animation:animate1 1s linear infinite;
    }
    @keyframes animate1
    {
        0%
        {
           left:-100%;
        }
        50%,100%
        {
           left:100%;
        }
    }
    
    a span:nth-child(2)
    {
        top:-100%;
        right: 0;
        width: 6px;
        height: 100%;
        background: linear-gradient(180deg,transparent,rgb(250, 4, 4));
        animation:animate2 1s linear infinite;
        animation-delay:0.25s;
    }
    @keyframes animate2{
        0%
        {
        top:-100%;
        }
        50%,100%
        {
        top: 100%;
        }
    }
    
    a span:nth-child(3)
    {
        bottom:0;
        right:-100%;
        width: 100%;
        height: 6px;
        background: linear-gradient(270deg,transparent,rgb(254, 4, 4));
        animation:animate3 1s linear infinite;
        animation-delay: 0.5s;
    }
    @keyframes animate3{
        0%
        {
        right:-100%;
        }
        50%,100%
        {
        right: 100%;
        }
    }
    a span:nth-child(4)
    {
        bottom: -100%;
        left: 0;
        width: 6px;
        height:100%;
        background: linear-gradient(360deg,transparent,rgb(255, 0, 0));
        animation:animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4
    {
        0%
        {
        bottom:-100%;
        }
        50%,100%
        {
        bottom: 100%;
        }
    }
    

    .laptop img{
        height: 70px;
        width: auto;
        margin-left: 80px;
        object-fit: cover;
    }

    .laptop{
        display: flex;
        background-color: rgb(30, 29, 29);
        border-radius: 30px;
        margin: 10px;
    }
    
    .laptop p{
        color: white;
        margin-top: 13px;
        font-size: 15px;
        /* background-color: aqua; */
        /* border: 2px solid black; */
    }

    .footer{
        background-color: black;
    }

    .box img{
        margin-left: 20px;
        height: 90px;
        width: auto;
    }
    
   